<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<script src="/static/code.js"></script>
<style>
li {
	margin-bottom: 1em;
}
</style>
<title>Admin</title>
</head>
<body>
<h1>Admin: <span id="adminname"></span></h1>
<ul>
	<li class="hidden" id="loginStuff">
		Log in:<br>
		<input class="bordered" id="txtEmail" placeholder="Email Address"><br>
		<input class="bordered" id="txtPassword" placeholder="Password" type="password"><br>
		<button id="btnLogin" class="purple">Login</button>
	</li>
	<li class="hidden" id="logoutStuff">
		Log out:<br>
		<button id="btnLogout" class="purple">Logout</button>
	</li>
	<li class="hidden" id="changePasswordStuff">
		Change password:<br>
		<input class="bordered" id="txtOldPassword" placeholder="Old Password" type="password"><br>
		<input class="bordered" id="txtNewPassword" placeholder="New Password" type="password"><br>
		<button id="btnChangePassword" class="purple">Change Password</button>
	</li>
	<li class="hidden" id="currencyStuff">
		Preferred currency:<br>
		<select id="selCurrency"></select>
	</li>
	<li>
		<a href="/special-secret-admin/data-edit.html" target="_blank">Charities and Countries</a>
	</li>
	<li>
		<a href="/special-secret-admin/unmatched-offers.html" target="_blank">Unmatched Offers</a>
	</li>
	<li>
		<a href="/special-secret-admin/eventlog.html" target="_blank">Eventlog</a>
	</li>
</ul>
<script>
/* globals ajax, getElementsById */
/* jshint esversion: 6 */
(function () {
	'use strict';

	const ui = getElementsById();

	function handleError(response) {
		console.error(response);
		alert(`Error: ${response}`);
	}

	function updateUi(loggedIn) {
		ui.loginStuff.classList.toggle('hidden', loggedIn);
		ui.logoutStuff.classList.toggle('hidden', !loggedIn);
		ui.changePasswordStuff.classList.toggle('hidden', !loggedIn);
		ui.currencyStuff.classList.toggle('hidden', !loggedIn);
	}

	ui.btnLogin.onclick = () => {
		ajax('/ajax/login', {
			email: ui.txtEmail.value,
			password: ui.txtPassword.value,
		})
			.then(() => {
				ui.txtEmail.value = '';
				ui.txtPassword.value = '';
				updateUi(true);
			})
			.catch(() => {
				alert('Error. Wrong name? Wrong password?');
			});
	};

	ui.btnLogout.onclick = () => {
		ajax('/special-secret-admin/logout')
			.then(() => {
				updateUi(false);
			})
			.catch(handleError);
	};

	ui.btnChangePassword.onclick = () => {
		ajax('/special-secret-admin/change_password', {
			old_password: ui.txtOldPassword.value,
			new_password: ui.txtNewPassword.value,
		})
			.then(() => {
				ui.txtOldPassword.value = '';
				ui.txtNewPassword.value = '';
				alert('Your password has been changed.');
			})
			.catch(handleError);
	};

	ajax('/special-secret-admin/get_admin_info')
		.then(info => {
			updateUi(true);
			ui.adminname.textContent = info.email;

			ajax('/special-secret-admin/get_currencies')
				.then(currencies => {
					currencies.forEach(currency => {
						ui.selCurrency.appendChild(createNode({
							xtype: 'option',
							a_value: currency.id,
							p_textContent: currency.name,
						}));
					});
					ui.selCurrency.value = info.currency_id;

					ui.selCurrency.onchange = () => {
						ajax('/special-secret-admin/set_admin_currency', {
							currency_id: ui.selCurrency.value
						});
					};
				});
		})
		.catch(msg => {
			updateUi(false);
			ui.adminname.textContent = '<not logged in>';
		})
		.then(() => {
		});
}());
</script>
</body>
</html>
