<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<script src="/static/code.js"></script>
<style>
li {
	margin-bottom: 1em;
}
</style>
<title>Admin</title>
</head>
<body>
<h1>Admin: <span id="adminname"></span></h1>
<ul>
	<li class="hidden" id="loginStuff">
		Log in:<br>
		<input class="bordered" id="txtEmail" placeholder="Email Address"><br>
		<input class="bordered" id="txtPassword" placeholder="Password" type="password"><br>
		<button id="btnLogin" class="purple">Login</button>
	</li>
	<li class="hidden" id="logoutStuff">
		Log out:<br>
		<button id="btnLogout" class="purple">Logout</button>
	</li>
	<li class="hidden" id="changePasswordStuff">
		Change password:<br>
		<input class="bordered" id="txtOldPassword" placeholder="Old Password" type="password"><br>
		<input class="bordered" id="txtNewPassword" placeholder="New Password" type="password"><br>
		<button id="btnChangePassword" class="purple">Change Password</button>
	</li>
	<li class="hidden" id="currencyStuff">
		Preferred currency:<br>
		<select id="selCurrency"></select>
	</li>
	<li>
		<a href="/special-secret-admin/data-edit.html" target="_blank">Charities and Countries</a>
	</li>
	<li>
		<a href="/special-secret-admin/unmatched-offers.html" target="_blank">Unmatched Offers</a>
	</li>
	<li>
		<a href="/special-secret-admin/eventlog.html" target="_blank">Eventlog</a>
	</li>
	<li>
		<a href="/special-secret-admin/offerstats.html" target="_blank">Offer Stats</a>
	</li>
</ul>
<script src="/static/admin.js"></script>
</body>
</html>
