<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<script src="/static/code.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<style>
table {
	width: 100%;
}
td {
	vertical-align: top;
}
td.label {
	padding-right: 1em;
	text-align: right;
	white-space: nowrap;
	width: 1%;
}
label::after {
	content: ':';
}
#message {
	height: 30em;
	width: 100%;
}
</style>
<title>Donation Swap</title>
</head>
<body>
{%FILE=header.snippet.html%}
	<div class="body">
		<h1>Contact Us</h1>
		<table>
			<tbody>
				<tr>
					<td class="label">
						<label for="name">Name</label>
					</td>
					<td>
						<input autofocus class="bordered" id="name">
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="email">Your Email Address</label>
					</td>
					<td>
						<input class="bordered" id="email" type="email">
					</td>
				</tr>
				<tr>
					<td class="label">
						<label for="message">Message</label>
					</td>
					<td>
						<textarea class="bordered" id="message"></textarea>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						{%FILE=captcha.snippet.html%}
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button class="purple" disabled id="btnSend">Send</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
{%FILE=footer.snippet.html%}
<script>
/* globals ajax, getElementsById */
/* jshint esversion: 6 */

function captchaGood() {
	document.getElementById('btnSend').removeAttribute('disabled');
}

function captchaBad() {
	document.getElementById('btnSend').setAttribute('disabled', 'disabled');
}

(function () {
	'use strict';

	const ui = getElementsById();

	function handleError() {
		alert('There was an error when we tried to send your message. Sorry. We\'re looking into it.');
	}

	ui.btnSend.onclick = () => {
		ajax('/ajax/send_contact_message', {
			captcha_response: document.getElementsByName('g-recaptcha-response')[0].value,
			message: ui.message.value,
			name: ui.name.value,
			email: ui.email.value,
		}).then(() => {
			alert('Your message has been sent. Thank you.');
			window.location.pathname = '/';
		})
		.catch(handleError);
	};
}());
</script>
</body>
</html>
