<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<script src="/static/code.js"></script>
<style>
.edit {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}
.matrix {
	border-collapse: collapse;
	margin: 0 auto;
}
.matrix td {
	border: 1px solid lightgray;
}
.matrix td.white {
	background-color: white;
}
.matrix td.yellow {
	background-color: yellow;
}
.matrix td.green {
	background-color: green;
}
.editor {
	background-color: white;
	border-radius: 1em;
	left: 50%;
	padding: 1em;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.editor td {
	vertical-align: top;
}
.editor tfoot {
	text-align: right;
}
.editor input {
	border: 2px solid lightgray;
}
#charityInCountryInstructions {
	width: 30em;
	height:15em;
}
</style>
<title>Charity Data</title>
</head>
<body>
<h1>Charity Data</h1>

<h2>Country/Charity Matrix</h2>
<p>
	<button class="purple" id="btnCreateCharity">Create New Charity...</button>
	<button class="purple" id="btnCreateCountry">Create New Country...</button>
</p>
<table class="matrix" id="matrix">
	<thead></thead>
	<tbody></tbody>
</table>

<h2>Charity Categories</h2>
<p>
	<button class="purple" id="btnCreateCharityCategory">Create New Charity Category...</button>
</p>
<ul id="categories"></ul>

<div id="editCharityCategory" class="background hidden">
	<table class="editor">
		<tbody>
			<tr>
				<td>ID</td>
				<td id="charityCategoryId"></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input id="charityCategoryName" maxlength="100"></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">
					<button id="btnDeleteCharityCategory">Delete</button>
					<button class="purple" id="btnSaveCharityCategory">Save</button>
					<button id="btnCancelCharityCategory">Cancel</button>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<div id="editCharity" class="background hidden">
	<table class="editor">
		<tbody>
			<tr>
				<td>ID</td>
				<td id="charityId"></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input id="charityName" maxlength="100"></td>
			</tr>
			<tr>
				<td>Category</td>
				<td>
					<select id="charityCategory"></select>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">
					<button id="btnDeleteCharity">Delete</button>
					<button class="purple" id="btnSaveCharity">Save</button>
					<button id="btnCancelCharity">Cancel</button>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<div id="editCountry" class="background hidden">
	<table class="editor">
		<tbody>
			<tr>
				<td>ID</td>
				<td id="countryId"></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input id="countryName" maxlength="100"></td>
			</tr>
			<tr>
				<td>"I Live In..." Name</td>
				<td><input id="countryLiveInName" maxlength="100"></td>
			</tr>
			<tr>
				<td><a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements" target="_blank">ISO Name</a></td>
				<td><input id="countryIsoName" maxlength="2"></td>
			</tr>
			<tr>
				<td>Currency</td>
				<td><select id="countryCurrency"></select></td>
			</tr>
			<tr>
				<td>Min Donation Amount</td>
				<td><input id="countryMinDonationAmount" type="number"></td>
			</tr>
			<tr>
				<td>Min Donation Currency</td>
				<td><select id="countryMinDonationCurrencyId"></select></td>
			</tr>
			<tr>
				<td><a href="https://en.wikipedia.org/wiki/Gift_Aid" target="_blank">Gift Aid</a></td>
				<td><input id="giftAid" type="number" value="0" min="0">%</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">
					<button id="btnDeleteCountry">Delete</button>
					<button class="purple" id="btnSaveCountry">Save</button>
					<button id="btnCancelCountry">Cancel</button>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<div id="editCharityInCountry" class="background hidden">
	<table class="editor">
		<tbody>
			<tr>
				<td>Charity</td>
				<td id="charityInCountryCharity"></td>
			</tr>
			<tr>
				<td>Country</td>
				<td id="charityInCountryCountry"></td>
			</tr>
			<tr>
				<td>Instructions</td>
				<td>
					<textarea id="charityInCountryInstructions"></textarea>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2">
					<button id="btnDeleteCharityInCountry">Delete</button>
					<button class="purple" id="btnSaveCharityInCountry">Save</button>
					<button id="btnCancelCharityInCountry">Cancel</button>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
<script src="/static/data-edit.js"></script>
</body>
</html>
