<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Donation Swap</title>
</head>
<body>
	<div class="body">
        <p>Sorry, the EA donation swap project has been discontinued.</p>
        <p>You can find out about tax deductible effective giving options in your country by checking out <a href="https://www.givingwhatwecan.org/get-involved/tax-deductibility">Giving What We Can's guide</a>.</p>
        <p>Happy donating!</p>		
	</div>
</body>
</html>
