<table>
	<tbody>
		<th>Maths</th>
		<tr>
			<td>Total to Charity:</td>
			<td>{totalBase} {baseCurrency}</td>
		</tr>
		<tr>
			<td></td>
			<th>{person1}</th>
			<th>{person2}</th>
		</tr>
		<tr>
			<td>Exchange Rates</td>
			<td>{country1ExchangeRate}</td>
			<td>{country2ExchangeRate}</td>
		</tr>
		<tr>
			<td>Amount To Pay</td>
			<td>total {baseCurrency} * exchange rate = total to pay in {country1ExchangeRate}<br />
				{totalBase} * {country1ExchangeRate} = {totalBase * country1ExchangeRate}</td>
			<td>total {baseCurrency} * exchange rate = total to pay in {country2ExchangeRate}<br />
				{totalBase} * {country2ExchangeRate} = {totalBase * country2ExchangeRate}</td>
		</tr>
		<tr>
			<td>Tax Return</td>
			<td>amount to pay * tax rate = tax return<br />
				{amount1Pays} * {country1TaxReturn} = {amount1Pays * country1TaxReturn}</td>
			<td>amount to pay * tax rate = tax return<br />
				{amount2Pays} * {country2TaxReturn} = {amount2Pays * country2TaxReturn}</td>
		</tr>
	</tbody>
</table>