<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<script src="/static/code.js"></script>
<style>
.number {
	cursor: default;
	display: inline-block;
	margin-right: 1em;
}
.number.clickable {
	cursor: pointer;
	text-decoration: underline;
}
#events {
	cursor: default;
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	border: 1px solid #7bb0a8;
	margin: 0.25em;
	padding: 0.25em;
}
details {
	font-weight: normal;
	margin: 0 0 0 2em;
	white-space: pre-wrap;
}
summary {
	cursor: pointer;
	font-weight: bold;
	margin: 0 0 0 -2em;
}
</style>
<title>Event Log</title>
</head>
<body>
<h1>Event Log</h1>
<p>
	Show only
	<select class="bordered" id="eventType" multiple>
		<option value="1">offer created</option>
		<option value="2">offer confirmed</option>
		<option value="3">offer deleted</option>
		<option value="4">offer expired</option>
		<option value="5">offer unconfirmed</option>
		<option value="21">match generated</option>
		<option value="22">match accepted</option>
		<option value="23">match declined</option>
		<option value="24">match expired</option>
		<option value="41">contact message sent</option>
	</select>
	events
	<label>between <input class="bordered" id="minTimestamp" placeholder="yyyy-mm-dd HH:MM:SS"></label>
	<label>and <input class="bordered" id="maxTimestamp" placeholder="yyyy-mm-dd HH:MM:SS"></label>
</p>
<p id="info"></p>
<p id="numbers"></p>
<ul id="events"></ul>
<script src="/static/eventlog.js"></script>
</body>
</html>
