<!doctype html>
<html>
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<title>Donation Swap</title>
</head>
<body>
{%FILE=header.snippet.html%}
<h1>Frequently Asked Questions</h1>
<article>
	<h2>What is this?</h2>
	<p>TL;DR: Donations to effective charities are not tax-deductible in all countries. With this website, you can find people who live in countries with better tax laws, and swap donations with them.</p>
</article>
<article>
	<h2>Does charity even work?</h2>
	<p>Oh yes. If chosen well. That's what Effective Altruism is all about. Watch <a href="https://www.youtube.com/watch?v=WyprXhvGVYk" target="_blank">William MacAskill's TED talk</a> for a great introduction to the subject.</p>
</article>
<article>
	<h2>Is it free?</h2>
	<p>Absolutely. Both in the sense of "free beer" and in the sense of "free speech".</p>
	<p>100% of your donation goes to charity. We don't take a cut, we don't charge for our services. We also don't sell your email address or use it for anything other than sending you an email when we've found a matching donor.</p>
	<p>Even the software that drives this server is free. You can check it out at <a href="https://github.com/donationswap/donationswap/" target="_blank">https://github.com/donationswap/donationswap/</a>.</p>
</article>
<article>
	<h2>What's in it for you?</h2>
	<p>The warm fuzzy feeling that we've helped to make the world a better place, by routing money from the tax department to effective charities.</p>
</article>
<article>
	<h2>Does this website work with Internet Explorer?</h2>
	<p>No, it does not.<p>
</article>
<article>
	<h2>Why not?</h2>
	<p>Internet Explorer is notoriously hard to write code for. It does not support JavaScript classes, promises, or even the lambda operator. With a market share of around 3% (according to <a href="https://en.wikipedia.org/wiki/Usage_share_of_web_browsers" target="_blank">Wikipedia</a>), it's just not worth it to use outdated coding practices just to make the website work in Internet Explorer.</p>
</article>
{%FILE=footer.snippet.html%}
</body>
</html>
