<p>Hello {%NAME%},</p>
<p></p>
<p>Four weeks ago you were matched with {%NAME_OTHER%} to do a donation swap.</p>
<p></p>
<p>{%NAME_OTHER%} was going to donate {%AMOUNT_OTHER%} {%CURRENCY_OTHER%} ({%AMOUNT_OTHER_CONVERTED%} {%CURRENCY%}) to {%CHARITY%}.</p>
<p></p>
<p>You were going to donate {%AMOUNT%} {%CURRENCY%} ({%AMOUNT_CONVERTED%} {%CURRENCY_OTHER%}) to {%CHARITY_OTHER%}.</p>
<p></p>
<p>Did it go well? We would like your feedback! Please fill in this very short form to let us know how it went and how we can do better: 
<p><a href="https://donationswap.eahub.org/feedback/#{%MATCH_SECRET%}" target="_blank">https://donationswap.eahub.org/feedback/#{%MATCH_SECRET%}</a></p>
<p></p>
<p>- Thanks from the EA donation swap team</p>