<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/static/code.js"></script>
<style>
</style>
<title>Donation Swap</title>
</head>
<body>
{%FILE=header.snippet.html%}
	<div class="body">
		<div id="form">

<h1>Donation Swap Feedback</h1>
		
Checkboxes xxx
* I completed my donation
* I recieved confirmation that my matched donor completed their donation

Textarea
* Do you have any feedback or suggested improvements to the donation swap scheme?

		</div>
	</div>
{%FILE=footer.snippet.html%}
<script src="/static/feedback.js"></script>
</body>
</html>
