<p>Hello {%NAME%},</p>
<p></p>
<p>A while ago you used the donation swap website and were matched with {%NAME_OTHER%} to do a donation swap.</p> 
<p></p>
<p>{%NAME_OTHER%} was going to donate {%AMOUNT_OTHER%} {%CURRENCY_OTHER%} to {%CHARITY%}.</p>
<p></p>
<p>You were going to donate {%AMOUNT%} {%CURRENCY%} to {%CHARITY_OTHER%}.</p>
<p></p>
<p>We're just following up:</p>
<p>- whether you donated</p>
<p>- whether you received confirmation that the other donor donated</p>
<p>- what you would have done without the donation swap system</p>
<p>- whether you have any suggestions for improvements.</p>
<p></p>
<p>Please fill in this <a href="https://docs.google.com/forms/d/e/1FAIpQLSdBUD0ig80KvRoCB6Dtct3XPPKE4vpxrY6Z7v7ZnxnpKgBXug/viewform?entry.2070973991={%OFFER_SECRET%}&entry.797208049={%NAME_OTHER%}+was+going+to+donate+{%AMOUNT_OTHER%}+{%CURRENCY_OTHER%}+to+{%CHARITY%}.+You+were+going+to+donate+{%AMOUNT%}+{%CURRENCY%}+to+{%CHARITY_OTHER%}
">short form</a>.
<p></p>
<p>The form is pre-filled with the information about your swap, so please leave those fields as they are.</p>  
<p></p>
<p>If you did more than one donation swap you will get more than one email. Please fill in the form on each email!</p>
<p></p>
<p>- Thanks from the EA donation swap team</p>
