<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/static/code.js"></script>
<style>
</style>
<title>Donation Swap Feedback</title>
</head>
<body>
{%FILE=header.snippet.html%}
	<div class="body">
		<div id="form">

Radio buttons
* I completed my donation
* I recieved confirmation that my matched donor completed their donation

Textarea
* Do you have any feedback or suggested improvements to the donation swap scheme?

		</div>
	</div>
{%FILE=footer.snippet.html%}
<script>
/* globals ajax, createNode, getElementsById */
/* jshint esversion: 6 */
(function () {
	'use strict';

	const ui = getElementsById();
	const secret = window.location.hash.substr(1);

	//xxx
}());
</script>
</body>
</html>
