	<footer>
		<a class="silent white" href="/">Effective Altruist <b>Donation Swap</b></a>
		<a class="silent white right" href="/contact/">Contact Us</a>
		<a class="silent white right" href="/charities/">Countries and Charities</a>
		<a class="silent white right" href="/howto/">How it Works</a>
		<a class="silent white right" href="/start/">Set up a Swap</a>
		<div class="disclaimer">
			This website uses GeoLite2 data created by MaxMind, available from
			<a class="white" href="http://www.maxmind.com" target="_blank">http://www.maxmind.com</a>.
		</div>
	</footer>
