	<footer>
		<a href="/" style="color: white;">Effective Altruist <b>Donation Swap</b></a>
		<a class="right" href="/contact/" style="color: white;">Contact Us</a>
		<a class="right" href="/charities/" style="color: white;">Countries and Charities</a>
		<a class="right" href="/howto/" style="color: white;">How it Works</a>
		<a class="right" href="/start/" style="color: white;">Set up a Swap</a>
		<div class="disclaimer">
			This website uses GeoLite2 data created by MaxMind, available from
			<a href="http://www.maxmind.com" target="_blank" style="color: white;">http://www.maxmind.com</a>.
		</div>
	</footer>
