<!doctype html>
<html>
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<script src="/static/code.js"></script>
<style>
form {
	margin: 10em 0;
	text-align: center;
}
form p {
	line-height: 250%;
}
#amount {
	width: 6em;
}
</style>
<title>Donation Swap</title>
</head>
<body>
{%FILE=header.snippet.html%}
<form action="/start" method="POST">
	<p>
		I live in
		<select id="country" name="country">
			{%COUNTRIES%}
		</select>
		and I would like to donate <span id="currency">$</span>
		<input min="0" name="amount" value="100" type="number">
		to
		<select name="charity">
			{%CHARITIES%}
		</select>
	</p>
	<p>
		<input type="submit" value="Find a Swap">
	</p>
</form>
{%FILE=footer.snippet.html%}
<script>
/* globals getElementsById */
/* jshint esversion: 6 */
(function () {
	'use strict';

	const ui = getElementsById();

	ui.country.onchange = () => {
		ui.currency.textContent = ui.country.selectedOptions[0].getAttribute('data');
	};

	ui.country.onchange();
}());
</script>
</body>
</html>
