<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/static/code.js"></script>
<title>Donation Swap</title>
</head>
<body>
{%FILE=header.snippet.html%}
	<div class="body">
		<table>
			<tbody>
				<tr>
					<td>Charity your matched donor wishes to support:</td>
					<td id="txtTheirCharity"></td>
				</tr>
				<tr>
					<td>Charity you wish to support:</td>
					<td id="txtMyCharity"></td>
				</tr>
				<tr>
					<td>Amount you would be donating:</td>
					<td id="txtMyAmount"></td>
				</tr>
				<tr>
					<td>Amount your matched donor would be donating:</td>
					<td id="txtTheirAmount"></td>
				</tr>
			</tbody>
		</table>
		<p>If you and your matched donor both approve the match within 72 hours from when this link was sent, you will get the name and contact details of your matched donor. <b>Please wait until you have had personal contact with your matched donor before donating.</b> 
		</p>
		<button id="btnApprove">Approve</button>
		<button id="btnDecline">Decline</button>
	</div>
{%FILE=footer.snippet.html%}
<script>
/* globals ajax, getElementsById */
/* jshint esversion: 6 */
(function () {
	'use strict';

	const ui = getElementsById();
	const secret = window.location.hash.substr(1);

	ajax('/ajax/get_match', { secret })
		.then(match => {
			if (match === null) {
				alert('We cannot find the requested offer. Maybe it expired or was declined.');
				window.location.pathname = '/';
				return;
			}
			ui.txtMyCharity.textContent = match.my_charity;
			ui.txtMyAmount.textContent = `${match.my_amount} ${match.my_currency}`;
			ui.txtTheirCharity.textContent = match.their_charity;
			ui.txtTheirAmount.textContent = (match.my_currency === match.their_currency)
				? `${match.their_amount} ${match.their_currency}`
				: `${match.their_amount} ${match.their_currency}`;
			ui.btnApprove.disabled = !match.can_edit;
			ui.btnDecline.disabled = !match.can_edit;
			ui.btnApprove.title = ui.btnDecline.title = match.can_edit ? '' : 'You have already approved or declined this match';
		});

	ui.btnApprove.onclick = () => {
		ui.btnApprove.disabled = true;
		ui.btnDecline.disabled = true;
		ajax('/ajax/approve_match', { secret })
			.then(() => {
				//xxx say "you'll get an email soon."
				alert('Thanks!');
			});
	};

	ui.btnDecline.onclick = () => {
		ui.btnApprove.disabled = true;
		ui.btnDecline.disabled = true;

		//xxx un-hide feedback form and actual decline button
		const feedback = 'xxx not implemented yet';
		ajax('/ajax/decline_match', { secret, feedback })
			.then(() => {
				//xxx let them know their offer has been suspended
				alert('Bummer!');
			});
	};
}());
</script>
</body>
</html>
