<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/static/code.js"></script>
<title>Donation Swap</title>
</head>
<body>
{%FILE=header.snippet.html%}
	<div class="body">
		<table>
			<tbody>
				<tr>
					<td>Charity you would be donating to:</td>
					<td id="txtTheirCharity"></td>
				</tr>
				<tr>
					<td>Amount you would be donating:</td>
					<td id="txtMyAmount"></td>
				</tr>
				<tr>
					<td>Charity your matched donor would be donating to:</td>
					<td id="txtMyCharity"></td>
				</tr>
			</tbody>
		</table>
		<p>The precise amount may change a little due to currency fluctuations.</p>
		<p>If you and your matched donor both approve the match within 72 hours from when this link was sent, you will get the name and contact details of your matched donor. <b>Please wait until you have had personal contact with your matched donor before donating.</b> 
		</p>
		<button id="btnApprove">Approve</button>
		<button id="btnDecline">Decline</button>
	</div>
{%FILE=footer.snippet.html%}
<script src="/static/match.js"></script>
</body>
</html>
