<html>
<body>
Success!

Both you and the person we have matched your donation offer with have approved of the match.

Your offer:
Country: {%YOUR_COUNTRY%}
Charity: {%YOUR_CHARITY%}
Amount: {%YOUR_AMOUNT%} {%YOUR_CURRENCY%}

Their offer:
Country: {%THEIR_COUNTRY%}
Charity: {%THEIR_CHARITY%}
Amount: {%THEIR_AMOUNT%} {%THEIR_CURRENCY%}
(This is around {%THEIR_AMOUNT_CONVERTED%} in {%YOUR_CURRENCY%}.)

Now it is time for you to send them an email at
<b><a href="mailto:{%THEIR_EMAIL%}">{%THEIR_EMAIL%}</a></b>
and talk about your donation swap amongst yourself.

Go forth and do the most good!

Your friends from Donation Swap.
</body>
</html>
