<p>Dear {%NAME_A%} and {%NAME_B%},</p>
<p></p>
<p>Success! You have been matched by the EA donation swap site.</p>
<p></p>
<p>{%NAME_A%} is from {%COUNTRY_A%}, and wants to support {%CHARITY_A%}. Their email address is {%EMAIL_A%}.</p>
<p>{%NAME_B%} is from {%COUNTRY_B%}, and wants to support {%CHARITY_B%}. Their email address is {%EMAIL_B%}.</p>
<p></p>
<p>If you choose to proceed with your donation swap, here are your instructions:</p>
<hr>
<p>{%NAME_A%}:</p>
<p>{%NAME_A%} will donate {%ACTUAL_AMOUNT_A%} {%CURRENCY_A%} to the charity {%CHARITY_B%}.</p>
<p>Instructions to donate: {%INSTRUCTIONS_A%}</p>
<hr>
<p>{%NAME_B%}:</p>
<p>{%NAME_B%} will donate {%ACTUAL_AMOUNT_B%} {%CURRENCY_B%} to the charity {%CHARITY_A%}.</p>
<p>Instructions to donate: {%INSTRUCTIONS_B%}</p>
<hr>
<p>This is how the amounts were calculated:</p>
<p></p>
<p>{%CHARITY_B%} recieves {%ACTUAL_AMOUNT_A%} {%CURRENCY_A%} from {%NAME_A%}. 
{%GIFT_AID_INSERT_A_HTML%}</p>
<p></p>
<p>{%CHARITY_A%} recieves {%ACTUAL_AMOUNT_B%} {%CURRENCY_B%} from {%NAME_B%}. 
{%GIFT_AID_INSERT_B_HTML%}</p>
<p></p>
The exchange rate is currently 1 {%CURRENCY_A%} = {%ONE_CURRENCY_A_AS_B%} {%CURRENCY_B%}.
<p></p>
<p>So {%TO_CHARITY_A%} {%CURRENCY_A%}={%TO_CHARITY_B%} {%CURRENCY_B%}, and both charities receive the same amount of money.</p>
<hr>
<p>Please get in contact with each other, and wait until you are both comfortable with the donation swap before donating. Once you have donated, please send each other the donation receipts.</p>
<p></p>
<p>Now that you have been matched, your swap offer has been taken off our database. If this swap is for only part of the money you have to donate, please go to <a href="https://donationswap.eahub.org/start" target="_blank">https://donationswap.eahub.org/start</a> to make another swap offer with the amount you have remaining.</p>
<p></p>
<p>Go forth and continue making the world a better place!</p>
<p></p>
<p>- Your friends from EA donation Swap.</p>
<p></p>
<hr>
