<html>
<body>
<p>Dear {%NAME%},</p>
<p>You’ve been matched with a compatible donor through the EA donation swap site.</p>
<p></p>
<p>The potential match:</p>
<p>Charity they wish to support: {%THEIR_CHARITY%}</p>
<p>Amount: {%THEIR_AMOUNT%} {%THEIR_CURRENCY%}</p>
<p>Amount: {%YOUR_AMOUNT%} {%YOUR_CURRENCY%}</p>
<p>This is around {%THEIR_AMOUNT_CONVERTED%} in {%YOUR_CURRENCY%}.</p>
<p></p>
<p>For reference, your offer was:</p>
<p>Charity you wish to support: {%YOUR_CHARITY%}</p>
<p>Amount: {%YOUR_AMOUNT%} {%YOUR_CURRENCY%}</p>
<p>Minimum swap amount: {%YOUR_MIN_AMOUNT%} {%YOUR_CURRENCY%}}</p>
<p></p>
<p>Please visit <a href="https://donationswap.eahub.org/match/#{%SECRET%}" target="_blank">https://donationswap.eahub.org/match/#{%SECRET%}</a>
to either approve or decline the donation swap.</p>
<p></p>
<p>Thanks from the EA donation swap team.</p>
</body>
</html>