<html>
<body>
<p>Dear {%YOUR_NAME%},</p>
<p>You’ve been matched with a compatible donor through the EA donation swap site.</p>
<p></p>
<p>If both of you accept the match, you will be donating
{%YOUR_ACTUAL_AMOUNT%} {%YOUR_CURRENCY%} to {%THEIR_CHARITY%},
and they will be donating to {%YOUR_CHARITY%}.</p>
<p>This amount may change a little due to currency fluctuations.</p>
<p></p>
<p>For reference, your offer was:</p>
<p>
	Charity you wish to support: {%YOUR_CHARITY%}<br>
	Amount: {%YOUR_AMOUNT%} {%YOUR_CURRENCY%}<br>
	Minimum swap amount: {%YOUR_MIN_AMOUNT%} {%YOUR_CURRENCY%}
</p>
<p></p>
<p>
	Please visit <a href="https://donationswap.eahub.org/match/#{%SECRET%}" target="_blank">https://donationswap.eahub.org/match/#{%SECRET%}</a>
	to either approve or decline the donation swap.
</p>
<p></p>
<p>Thanks from the EA donation swap team.</p>
</body>
</html>