<html>
<body>
<p>Dear {%NAME%},</p>
<p>Your offer of a donation swap has not been matched, and your offer has now expired.
</p>
<p></p>
<p>We suggest you either make a new offer to swap, or donate directly to the charity you prefer. </p>
<p></p>
<p>Details of your expired offer:</p>
<p>Charity you wished to support: {%CHARITY%}</p>
<p>Amount: {%CURRENCY%} {%AMOUNT%}</p>
<p>Minimum swap amount: {%CURRENCY%} {%MIN_AMOUNT%}
<p></p>
<p>We have removed your swap offer from our system.</p>
<p></p>
<p> If you want to create another offer just like it, please go to <a href="https://donationswap.eahub.org/start/{%ARGS%}" target="_blank">https://donationswap.eahub.org/start/{%ARGS%}</a>.</p>
<p></p>
<p>Even though your offer was not matched this time, we really appreciate you using the EA donation swap system, and encourage you to make another offer to swap in the future.</p>
<p></p>
<p>Thanks from the EA donation swap team.
</body>
</html>