<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/static/code.js"></script>
<title>Donation Swap</title>
</head>
<body>
{%FILE=header.snippet.html%}
	<div class="body">
		<h1>Your Donation Swap Offer</h1>
		<table id="table">
			<tbody>
				<tr>
					<td>Your Name:</td>
					<td><span id="name"></span>
				</tr>
				<tr>
					<td>Charity you wish to support:</td>
					<td><span id="charity"></span></td>
				</tr>
				<tr>
					<td>Amount:</td>
					<td><span id="amount"></span> <span id="currency1"></span></td>
				</tr>
				<tr>
					<td>Minimum swap amount:</td>
					<td><span id="minAmount"></span> <span id="currency2"></span></td>
				</tr>
				<tr>
					<td>Swap offer created:</td>
					<td><span id="creationDate"></span></td>
				</tr>
				<tr>
					<td>Swap offer expires:</td>
					<td><span id="expirationDate"></span></td>
				</tr>
			</tbody>
		</table>
		<p class="hidden" id="confirmed">Thank you for activating your offer.</p>
		<p>We will send you an email when we find a match. You can create another offer <a href="/start/">here</a>.</p>
		<p>If you have changed your mind please delete your offer.</p>
		<button class="hidden" id="btnDelete">Delete Your Offer</button>
		<div id="message">Loading...</div>
	</div>
{%FILE=footer.snippet.html%}
<script src="/static/offer.js"></script>
</body>
</html>
