<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<script src="/static/code.js"></script>
<title>Donation Swap</title>
</head>
<body>
{%FILE=header.snippet.html%}
	<div class="body">
		<h1>Your Donation Swap Offer</h1>
		<table id="table">
			<tbody>
				<tr>
					<td>Your Name:</td>
					<td><span id="name"></span>
				</tr>
				<tr>
					<td>Charity you wish to support:</td>
					<td><span id="charity"></span></td>
				</tr>
				<tr>
					<td>Amount:</td>
					<td><span id="amount"></span> <span id="currency1"></span></td>
				</tr>
				<tr>
					<td>Minimum swap amount:</td>
					<td><span id="minAmount"></span> <span id="currency2"></span></td>
				</tr>
				<tr>
					<td>Swap offer created:</td>
					<td><span id="creationDate"></span></td>
				</tr>
				<tr>
					<td>Swap offer expires:</td>
					<td><span id="expirationDate"></span></td>
				</tr>
			</tbody>
		</table>
		<p class="hidden" id="confirmed">Thank you for activating your offer.</p>
		<p>We will send you an email when we find a match. You can create another offer <a href="/start/">here</a>.</p>
		<p>If you have changed your mind please delete your offer.</p>
		<button class="hidden" id="btnDelete">Delete Your Offer</button>
		<div id="message">Loading...</div>
	</div>
{%FILE=footer.snippet.html%}
<script>
/* globals ajax, getElementsById */
/* jshint esversion: 6 */
(function () {
	'use strict';

	const ui = getElementsById();
	const secret = window.location.hash.substr(1);

	function setVisibility(offer) {
		ui.table.classList.toggle('hidden', !offer);
		ui.btnDelete.classList.toggle('hidden', !offer);
		ui.message.classList.toggle('hidden', !ui.message.textContent);
	}

	function handleError() {
		ui.message.innerHTML = '<p>Something went wrong.</p><p>We\'re probably already working on it, but if this happens a lot, feel free to <a href="/contact">let us know</a>.</p>';
		setVisibility(null);
	}

	ajax('/ajax/confirm_offer', { secret })
		.then(offer => {
			if (offer) {
				ui.confirmed.classList.toggle('hidden', offer.was_confirmed);
				ui.currency1.textContent = offer.currency;
				ui.currency2.textContent = offer.currency;
				ui.amount.textContent = offer.amount;
				ui.minAmount.textContent = offer.min_amount;
				ui.charity.textContent = offer.charity;
				ui.creationDate.textContent = Date.fromUtcIsoString(offer.created_ts).toLocalString('%Y-%m-%d %H:%M');
				ui.expirationDate.textContent = Date.fromUtcIsoString(offer.expires_ts).toLocalString('%Y-%m-%d %H:%M');
				ui.message.textContent = '';
			} else {
				ui.message.innerHTML = '<p>The requested post could not be found.</p><p>Maybe it was deleted or expired?</p><p>You can create a new one <a href="/">here</a>.</p>';
			}
			setVisibility(offer);
		})
		.catch(handleError);

	ui.btnDelete.onclick = () => {
		if (confirm('Do you want to delete this offer?')) {
			ajax('/ajax/delete_offer', { secret })
				.then(response => {
					ui.message.innerHTML = '<p>The offer has been deleted. Click <a href="/">here</a> to create a new one.</p>';
					setVisibility(null);
				})
				.catch(handleError);
		}
	};
}());
</script>
</body>
</html>
