<html>
<body>
<p>Dear {%NAME%},</p>
<p>You have not confirmed your offer to donate on the EA donation swap site.</p>
<p></p>
<p>Details of your offer:</p>
<p>Charity you wish to support: {%CHARITY%}</p>
<p>Amount: {%CURRENCY%} {%AMOUNT%}</p>
<p>Minimum swap amount: {%CURRENCY%} {%MINAMOUNT%}
<p></p>
<p>We have removed your swap offer from our system.</p>
<p></p>
<p> If you want to create another offer just like it, please go to <a href="https://donationswap.eahub.org/start/{%ARGS%}" target="_blank">https://donationswap.eahub.org/start/{%ARGS%}</a>.</p>
<p>Remember to check your email to confirm your offer.</p>
<p></p>
<p>Thanks from the EA donation swap team.
</body>
</html>