<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<script src="/static/code.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<style>
#intAmount {
	width: 6em;
}
#errorContainer {
	border: 5px solid red;
	color: red;
}
#successContainer {
	border: 5px solid green;
}
</style>
<title>Donation Swap</title>
</head>
<body>
{%FILE=header.snippet.html%}
	<div class="body">
		<div id="form">
			<p>
				<label for="idCountry">I pay taxes in</label>
				<select class="bordered" id="idCountry"></select>
			</p>
			<p>
				<label for="intAmount">and I would like to donate</label>
				<input autofocus class="bordered" id="intAmount" min="0" type="number" value="100">
				<span id="txtCurrency">$</span>
			</p>
			<p>
				<label for="idCharity">to</label>
				<select class="bordered" id="idCharity"></select>.
			</p>
			<p>
				This offer is valid until:
				<span class="bordered">
					<select id="intExpirationDay"></select>
					<select id="intExpirationMonth"></select>
					<select id="intExpirationYear"></select>
				</span>
			</p>
			<p>
				My Email Address:
				<input class="bordered" id="txtEmail" type="email">
			</p>
			{%FILE=captcha.snippet.html%}
			<div class="hidden" id="errorContainer">
				<p>An error has occurred:</p>
				<p id="errorText"></p>
			</div>
			<p>
				<button class="purple" id="btnSend">Submit</button>
			</p>
		</div>
		<div class="hidden" id="successContainer">
			<p>Thank you.</p>
			<p>
				We have sent you an email with a confirmation link.
				Please open that link to activate your offer and verify your email address.
			</p>
			<p>It is safe to close this tab.</p>
		</div>
	</div>
{%FILE=footer.snippet.html%}
<script>
/* globals ajax, createNode, getElementsById */
/* jshint esversion: 6 */

function captchaGood() {
	document.getElementById('btnSend').removeAttribute('disabled');
}

function captchaBad() {
	document.getElementById('btnSend').setAttribute('disabled', 'disabled');
}

(function () {
	'use strict';

	const ui = getElementsById();

	captchaBad();

	ajax('/ajax/get_info')
		.then(info => {
			const currencyByCountry = {};

			// populate countries dropdown
			info.countries.forEach(country => {
				ui.idCountry.appendChild(createNode({
					xtype: 'option',
					a_value: country.id,
					p_textContent: country.live_in_name,
				}));
				currencyByCountry[country.id] = {
					iso: country.currency_iso,
					name: country.currency_name,
				};
			});
			ui.idCountry.value = info.client_country;

			// handle country changes
			ui.idCountry.onchange = () => {
				const currency = currencyByCountry[ui.idCountry.value];
				//xxx ui.intAmount.setAttribute('min', 'xxx')
				ui.txtCurrency.textContent = currency.iso;
				ui.txtCurrency.setAttribute('title', currency.name);
			};
			ui.idCountry.onchange(); // to set currency

			// populate charities dropdown
			const categories = [... new Set(info.charities.map(charity => charity.category))];
			const categoryByName = {};
			categories.forEach(category => {
				ui.idCharity.appendChild(categoryByName[category] = createNode({
					xtype: 'optgroup',
					a_label: category,
				}));
			});
			info.charities.forEach(charity => {
				categoryByName[charity.category].appendChild(createNode({
					xtype: 'option',
					a_value: charity.id,
					p_textContent: charity.name,
				}));
			});

			// populate calendar
			for (let day = 1; day <= 31; day++) {
				ui.intExpirationDay.appendChild(createNode({
					xtype: 'option',
					a_value: day,
					p_textContent: `${('0' + day).substr(-2)}.`,
				}));
			}
			const monthNames = [null,
				'January', 'February', 'March', 'April',
				'May', 'June', 'July', 'August',
				'September', 'October', 'November', 'December']
			for (let month = 1; month <= 12; month++) {
				ui.intExpirationMonth.appendChild(createNode({
					xtype: 'option',
					a_value: month,
					p_textContent: monthNames[month],
				}));
			}
			for (let year = info.today.year; year <= info.today.year + 2; year++) {
				ui.intExpirationYear.appendChild(createNode({
					xtype: 'option',
					a_value: year,
					p_textContent: year,
				}));
			}
			ui.intExpirationDay.value = info.today.day;
			ui.intExpirationMonth.value = info.today.month;
			ui.intExpirationYear.value = info.today.year + 1;
			//xxx this allows "31. February" and such

			// handle form submission
			ui.btnSend.onclick = () => {
				captchaBad(); // disable send button
				ajax('/ajax/create_offer', {
					captcha_response: document.getElementsByName('g-recaptcha-response')[0].value,
					country: parseInt(ui.idCountry.value, 10),
					amount: parseInt(ui.intAmount.value, 10),
					charity: parseInt(ui.idCharity.value, 10),
					email: ui.txtEmail.value,
				expiration: {
						day: ui.intExpirationDay.value,
						month: ui.intExpirationMonth.value,
						year: ui.intExpirationYear.value,
					},
				})
				.then(() => {
					ui.successContainer.classList.remove('hidden');
					ui.form.classList.add('hidden');
				})
				.catch(error => {
					ui.errorText.textContent = error || '<unknown error>';
					ui.errorContainer.classList.remove('hidden');
					captchaGood(); // enable send button
				});
			};
		});
}());
</script>
</body>
</html>
