<!doctype html>
<html>
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<script src="/static/code.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<style>
</style>
<title>Donation Swap</title>
</head>
<body>
{%FILE=header.snippet.html%}
<form action="/post" method="POST">
	<table>
		<tbody>
			<tr>
				<td>Country:</td>
				<td>
					<select id="country" name="country">
						{%COUNTRIES%}
					</select>
				<td>
			</tr>
			<tr>
				<td>Amount:</td>
				<td>
					<span id="currency">$</span>
					<input min="0" name="amount" value="{%AMOUNT%}" type="number">
				</td>
			</tr>
			<tr>
				<td>Charity:</td>
				<td>
					<select id="charity" name="charity">
						{%CHARITIES%}
					</select>
				</td>
			</tr>
			<tr>
				<td>Email Address:</td>
				<td>
					<input name="email" type="email">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div class="g-recaptcha" data-sitekey="6LctxXUUAAAAAOcIxh6rm8KYTemy-zUIPspp-52P" data-callback="enableSubmitButton" data-expired-callback="disableSubmitButton"></div>
				</td>
			</tr>
			<tr>
				<!-- xxx checkbox with explanation text -->
			</tr>
			<tr>
				<td></td>
				<td>
					<input disabled id="btnSubmit" type="submit" value="Send">
				</td>
			</tr>
		</tbody>
	</table>
</form>
{%FILE=footer.snippet.html%}
<script>
/* globals getElementsById */
/* jshint esversion: 6 */
function disableSubmitButton() {
	document.getElementById('btnSubmit').setAttribute('disabled', 'disabled');
}

function enableSubmitButton() {
	document.getElementById('btnSubmit').removeAttribute('disabled');
}

(function () {
	'use strict';

	const ui = getElementsById();

	disableSubmitButton();

	ui.country.selectedIndex = ui.country.options.item(i => i.hasAttribute('selected')).index;
	ui.charity.selectedIndex = ui.charity.options.item(i => i.hasAttribute('selected')).index;

	ui.country.onchange = () => {
		ui.currency.textContent = ui.country.selectedOptions[0].getAttribute('data');
	};

	ui.country.onchange();
}());
</script>
</body>
</html>
