<!doctype html>
<html lang="en">
<head>
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta charset="utf-8">
<script src="/static/code.js"></script>
<style>
#offers {
	cursor: default;
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	border: 1px solid #7bb0a8;
	margin: 0.25em;
	padding: 0.25em;
}
li.current {
	background-color: rgba(81, 43, 82, 0.1);
}
details {
	font-weight: normal;
	margin: 0 0 0 2em;
	white-space: pre-wrap;
}
summary {
	font-weight: bold;
	margin: 0 0 0 -2em;
}
.menu {
	float: right;
}
.score-number {
	cursor: pointer;
	text-decoration: underline;
}
.match-button {
	cursor: pointer;
	margin-left: 1em;
	text-decoration: underline;
}
#waitText {
	color: white;
	font-size: 150%;
	margin-top: 5em;
	text-align: center;
}
</style>
<title>Unmatched Offers</title>
</head>
<body>
<h1>Unmatched Offers</h1>
<p id="info"></p>
<p>
	Click "Score" on an offer to evaluate all other offers for a potential match.
	Click the resulting score number on the other offer to create a match.
</p>
<ul id="offers"></ul>
<script>
/* globals ajax, createNode, getElementsById */
/* jshint esversion: 6 */
(function () {
	'use strict';

	const ui = getElementsById();
	const state = {
		offersById: {},
		firstOfferId: 0,
	};

	function getSummary(offer) {
		return `${offer.country}, ${offer.charity}, ${offer.min_amount_localized}-${offer.amount_localized} ${offer.currency_localized}`;
	}

	function renderDetails(details) {
		const keys = Object.keys(details);
		keys.sort();
		return keys.map(key => `${key}: ${details[key]}`).join('\n');
	}

	function startMatch(offerId) {
		ajax('/special-secret-admin/get_match_scores', {
			offer_id: offerId,
		})
			.then(scores => {
				state.firstOfferId = offerId;
				Array.prototype.forEach.call(
					window.document.body.querySelectorAll('li'),
					li => li.classList.toggle('current', li.data === offerId)
				);
				Array.prototype.forEach.call(
					window.document.body.querySelectorAll('.score-number'),
					span => {
						const id = span.data;
						if (id !== offerId) {
							[span.textContent, span.title] = scores[id];
						} else {
							span.textContent = ''; // can't match an offer with itself
						}
					}
				);
			});
	}

	function completeMatch(offerId) {
		const first = getSummary(state.offersById[state.firstOfferId]);
		const second = getSummary(state.offersById[offerId]);

		const confirmed = window.confirm(`Please confirm that you want to create a match for the following two offers:\n\n${first}\n\n${second}`);

		if (confirmed) {
			ajax('/special-secret-admin/create_match', {
				offer_a_id: state.firstOfferId,
				offer_b_id: offerId,
			})
				.then(() => {
					alert('Match created. Emails sent.\n\nRefreshing page now...');
					window.location.reload();
				})
				.catch(error => {
					console.error(error);
					window.alert(`Unexpected error: ${error}`);
				});
		}
	}

	function renderOffers(offers) {
		ui.info.textContent = `Found ${offers.length} unmatched offer(s)`;

		ui.offers.innerHTML = '';
		offers.forEach(offer => {
			ui.offers.appendChild(createNode({
				xtype: 'li',
				p_data: offer.id,
				children: [
					{
						xtype: 'details',
						children: [
							{
								xtype: 'summary',
								children: [
									getSummary(offer),
									{
										xtype: 'span',
										a_class: 'menu',
										children: [
											{
												xtype: 'span',
												a_class: 'score-number',
												p_data: offer.id,
												p_onclick() {
													completeMatch(offer.id);
													return false; // prevent expand/collapse
												},
											},
											{
												xtype: 'span',
												a_class: 'match-button',
												a_title: 'See how well other offers would match',
												p_textContent: 'Score',
												p_onclick() {
													startMatch(offer.id);
													return false; // prevent expand/collapse
												},
											},
										],
									},
								],
							},
							`${renderDetails(offer)}`,
						],
					},
				],
			}));
		});
	}

	ajax('/special-secret-admin/get_unmatched_offers')
		.then(offers => {
			state.offersById = offers.toDictionary(i => i.id);
			renderOffers(offers);
		})
		.catch(error => {
			console.error(error);
			window.alert(`Unexpected error: ${error}`);
		});
}());
</script>
</body>
</html>
