html {
	font-family: Open Sans, Arial, sans-serif;
}

body {
	background-color: white;
	color: black;
	margin: 0;
	padding: 0;
}
h1 {
	color: #437069;
	font-size: 145%;
	font-weight: 700;
}
h2 {
	color: #437069;
	font-size: 130%;
	font-weight: 500;
}
h3 {
	color: #437069;
	font-size: 115%;
	font-weight: 400;
}
h4 {
	color: #437069;
	font-size: 100%;
	font-weight: 400;
}
img {
	width: 50em;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
a:link {
    color: #635274;
}
a:visited {
    color: #512B52;
}
a:hover {
    color: #512B52;
}
a:active {
    color: #512B52;
}


table.visuals {
	margin-left: auto;
	margin-right: auto;
}

.purple {
	background-color: #512b52;
	color: white;
}
.hidden {
	display: none;
}
.background {
	background-color: rgba(0, 0, 0, 0.9);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.buttons {
	text-align: center;
}
a.button {
	/*box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.5);*/
	colour: white;
	display: inline-block;
	margin: 1em;
	padding: 0.5em 1em;
	text-decoration: none;
}

button.purple {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-size: 110% 110%;
	border-radius: 0;
	padding: 4px 21px 5px 21px;
	vertical-align: middle;
}

button.purple {
	border: none !important;
	color: white !important;
}
button.purple:disabled {
	color: gray !important;
}

input,select {
	background-color: white;
	outline: none;
}
input:focus,select:focus {
	background-color: rgba(81, 43, 82, 0.1);
}
.bordered {
	border: 2px solid #512b52;
	display: inline-block;
	margin-bottom: 0.1em;
	margin-top: 0.1em;
	padding: 0.2em;
}
.bordered:focus {
	background-color: rgba(81, 43, 82, 0.1);
}
.bordered * {
	border: none;
}

header {
	background-color: #7bb0a8;
	background-image: url('/static/logo-white.png');
	background-position: 5px 5px;
	background-repeat: no-repeat;
	background-size: 4em;
	color: #f4f4f4;
	font-size: 200%;
	font-weight: 400;
	margin: 0;
	padding: 1.2em 0.5em;
	text-align: center;
}
header b {
	font-weight: 800;
}
header .beta-container {
	display: table-cell;
	height: 10em;
	overflow: hidden;
	position: absolute;
	right: 0;
	vertical-align: middle;
	width: 10em;
	top: 0;
}
header .beta {
	font-size: 50%;
	font-weight: 900;
	padding: 0.5em 0;
	text-align: center;
	transform: rotate(45deg) translate(0, 2em);
	transform-origin: center top;
	width: 200%;
}

footer {
	background-color: #512B52;
	bottom: 0;
	color: #f4f4f4;
	left: 0;
	padding: 0.5em;
	position: fixed;
	right: 0;
	text-align: center;
	font-size:80%;
}
footer>a {
	color: #f4f4f4;
	margin: 0 1em;
}
footer .right {
	float: right;
}
footer .disclaimer {
	color: lightgray;
	font-size: 80%;
	margin-top: 1em;
	text-align: left;
}
footer .disclaimer a {
	color: lightgray;
}

.body {
	margin: 2em auto 10em auto;
	padding:0 3em;
}
